{{extend "site/layout1.html"}}

{{block content_main}}
{{use "ui.vue"}}

<h2>Example 1: 最简例子</h2> <hr>
<div id="app">
    { message }
</div>

<script>
var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!'
    },
    delimiters: ['{', '}']
})
</script>
<h2>Example 2：动态绑定</h2> <hr>
<div id="app-2">
    <span v-bind:title="message">
        鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
</div>
<script>
var app2 = new Vue({
    el: '#app-2',
    data: {
        message: '页面加载于 ' + new Date().toLocaleString()
    },
    delimiters: ['{', '}']
})
</script>

<h2>Example 3: v-if</h2> <hr>
<div id="app-3">
  <p v-if="seen">现在你看到我了</p>
</div>
<script>
var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 4: v-for</h2> <hr>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      { todo.text }
    </li>
  </ol>
</div>
<script>
var app4 = new Vue({
  el: '#app-4',
  data: {
    todos: [
      { text: '学习 JavaScript' },
      { text: '学习 Vue' },
      { text: '整个牛项目' }
    ]
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 5: 动态改变</h2> <hr>
<div id="app-5">
  <p>{ message }</p>
  <button v-on:click="reverseMessage">逆转消息</button>
</div>
<script>
var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 6: 双向绑定</h2> <hr>
<div id="app-6">
  <p>{ message }</p>
  <input v-model="message">
</div>
<script>
var app6 = new Vue({
  el: '#app-6',
  data: {
    message: 'Hello Vue!'
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 7: 最简组件</h2> <hr>
<div id="app-7">
<e7-child message="hello!"></e7-child>
</div>
<script>
Vue.component('e7-child', {
  // 声明 props
  props: ['message'],
  // 就像 data 一样，prop 也可以在模板中使用
  // 同样也可以在 vm 实例中通过 this.message 来使用
  template: '<span>{ message }</span>',
  delimiters: ['{', '}']
})
var app8 = new Vue({
  el: '#app-7',
  data: {
  },
  delimiters: ['{', '}']
})
</script>


<h2>Example 8: todo组件</h2> <hr>
<div id="app-8">
    <ol>
        <!--
        现在我们为每个 todo-item 提供 todo 对象
        todo 对象是变量，即其内容可以是动态的。
        我们也需要为每个组件提供一个“key”，晚些时候我们会做个解释。
        -->
        <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id">
        </todo-item>
    </ol>
</div>
<script>
Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{ todo.text }</li>',
  delimiters: ['{', '}']
})
var app8 = new Vue({
  el: '#app-8',
  data: {
    groceryList: [
      { id: 0, text: '蔬菜' },
      { id: 1, text: '奶酪' },
      { id: 2, text: '随便其他什么人吃的东西' }
    ]
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 9: 组件之使用v-bind实现动态prop</h2> <hr>
<div id="app-9">
  <input v-model="parentMsg">
  <br>
  <e9-child v-bind:message="parentMsg"></e9-child>
</div>
<script>
Vue.component('e9-child', {
  // 声明 props
  props: ['message'],
  // 就像 data 一样，prop 也可以在模板中使用
  // 同样也可以在 vm 实例中通过 this.message 来使用
  template: '<span>{ message }</span>',
  delimiters: ['{', '}']
})
var app9 = new Vue({
  el: '#app-9',
  data: {
    parentMsg: 'Message from parent'
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 10: 父组件在使用子组件的地方用 v-on 来监听子组件触发的事件</h2> <hr>
<div id="app-10">
  <p>{ total }</p>
  <button-counter v-on:increment="incrementTotal"></button-counter>
  <button-counter v-on:increment="incrementTotal"></button-counter>
</div>

<script>
  Vue.component('button-counter', {
  template: '<button v-on:click="incrementCounter">{ counter }</button>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    incrementCounter: function () {
      this.counter += 1
      this.$emit('increment')
    }
  },
  delimiters: ['{', '}']
})

new Vue({
  el: '#app-10',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 11: 子组件使用$emit发送消息到父组件</h2> <hr>
<div id="app-11">
  <p v-for="msg in messages">{ msg }</p>
  <button-message v-on:message="handleMessage"></button-message>
</div>
<script>
  Vue.component('button-message', {
  template: `<div>
    <input type="text" v-model="message" />
    <button v-on:click="handleSendMessage">Send</button>
  </div>`,
  data: function () {
    return {
      message: 'test message'
    }
  },
  methods: {
    handleSendMessage: function () {
      this.$emit('message', { message: this.message })
    }
  },
  delimiters: ['{', '}']
})

new Vue({
  el: '#app-11',
  data: {
    messages: []
  },
  methods: {
    handleMessage: function (payload) {
      this.messages.push(payload.message)
    }
  },
  delimiters: ['{', '}']
})
</script>

<h2>Example 12: 表单输入组件和v-model</h2> <hr>
<div id="app-12">
  <currency-input v-model="price"></currency-input>
</div>
<script>
Vue.component('currency-input', {
  template: `
    <span>
      $
      <input
        ref="input"
        v-bind:value="value"
        v-on:input="updateValue($event.target.value)"
      >
    </span>
  `,
  props: ['value'],
  methods: {
    // 不是直接更新值，而是使用此方法来对输入值进行格式化和位数限制
    updateValue: function (value) {
      var formattedValue = value
        // 删除两侧的空格符
        .trim()
        // 保留 2 位小数
        .slice(
          0,
          value.indexOf('.') === -1
            ? value.length
            : value.indexOf('.') + 3
        )
      // 如果值尚不合规，则手动覆盖为合规的值
      if (formattedValue !== value) {
        this.$refs.input.value = formattedValue
      }
      // 通过 input 事件带出数值
      this.$emit('input', Number(formattedValue))
    }
  }
})

new Vue({
  el: '#app-12',
  data: { price: '' }
})
</script>

<h2>Example 13: 组件之单个插槽</h2> <hr>
<div id="app-13">
  <div>
    <h3>我是父组件的标题</h3>
    <my-component>
      <p>这是一些初始内容</p>
      <p>这是更多的初始内容</p>
    </my-component>
  </div>
</div>

<script>
Vue.component('e13-my-component', {
  template: `
  <div>
  <h2>我是子组件的标题</h2>
  <slot>
    只有在没有要分发的内容时才会显示。
  </slot>
</div>
  `
})

new Vue({
  el: '#app-13'
})
</script>

<h2>Example 14: 组件之具名插槽</h2> <hr>
<div id="app-14">
  <app-layout>
    <h3 slot="header">这里可能是一个页面标题</h3>

    <p>主要内容的一个段落。</p>
    <p>另一个主要段落。</p>

    <p slot="footer">这里有一些联系信息</p>
  </app-layout>
</div>

<script>
Vue.component('app-layout', {
  template: `
<div class="container">
  <header>
    <slot name="header"></slot>
  </header>
  <main>
    <slot></slot>
  </main>
  <footer>
    <slot name="footer"></slot>
  </footer>
</div>
`
})

new Vue({
  el: '#app-14'
})
</script>

<h2>Example 15: 组件之作用域插槽</h2> <hr>
<div id="app-15">
  <div class="parent">
    <e15-child>
      <template slot-scope="props">
        <span>hello from parent</span>
        <span>{ props.text }</span>
      </template>
    </e15-child>
  </div>
</div>

<script>
Vue.component('e15-child', {
  template: `
<div class="child">
  <slot text="hello from child"></slot>
</div>
`,
  delimiters: ['{', '}']
})

new Vue({
  el: '#app-15',
  delimiters: ['{', '}']
})
</script>

<h2>Example 16: 组件之递归组件</h2> <hr>
<div id="app-16">
  <e16-comr :count="1"></e16-comr>
</div>
<script>
Vue.component('e16-comr', {
  name : 'comR',
  props : {
    count : {
      type : Number,
      default : 1
    }
  },
  template: `
<div>
  <e16-comr :count="count+1" v-if="count < 5"></e16-comr>{count}
</div>
`,
  delimiters: ['{', '}']
})

new Vue({
  el: '#app-16',
  delimiters: ['{', '}']
})
</script>

<h2>Example 17: 组件之异步组件</h2> <hr>
<div id="app-17">
  <e17-com></e17-com>
</div>
<script>
Vue.component('e17-com', function(resolve, reject){
  window.setTimeout(function(){
    resolve({
      template : '<div>来自异步的内容</div>'
    })
  },2000)
})

new Vue({
  el: '#app-17',
  delimiters: ['{', '}']
})
</script>

<h2>Example 18: 组件之手动挂载</h2> <hr>
<div id="app-18">
    <div id="e18com"> original</div>
</div>

<script>
  const myE18Component = Vue.extend({
    template : '<div>from extend</div>'
  })
  new myE18Component().$mount('#e18com')
</script>

{{end}}
